.theme-mode {
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 99;
  padding: 1rem 2rem;
  height: 100vh;
  background-color: var(--primary-bg);
  box-shadow: var(--box-shadow);
  transition: right 500ms ease-out;

  h4 {
    padding: 2rem 0;
  }
  &.active {
    right: 0;
  }
  .theme-close {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    cursor: pointer;
  }
  .theme-select {
    margin-bottom: 2.5rem;
  }
  .theme-list > li {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 1rem;
    margin-top: 1rem;
  }
  .theme-list li ~ li {
    margin-top: 0.8rem;
  }
  .theme-list-color {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: -2px 2px 10px -2px rgba(78, 78, 78, 0.3);
    & > .check-icon {
        transform: scale(0);
        transition: transform 350ms ease-out;
      }
    &.active > .check-icon {
        transform: scale(1);
      }
  }

 
}
