

:root{
    --primary-bg: #fff;
    --secondary-bg:#fafafb;
    --txt-color:#455560;
    --txt-white:#fff;
    --border-radius: 10px;
    --box-shadow: -1px 1px 10px -1px #95afa533;
    --primary-color: #349eff;
    --secondary-color:#62b4ff;

    --primary-bg-light:#fff;
    --secondary-bg-light:#fafafb;
    --txt-color-light:#455560;
    --box-shadow-light: -2px 2px 10px -1px #95afa533;

    --primary-bg-dark:#2d2d2d;
    --secondary-bg-dark:#202020;
    --txt-color-dark:rgb(236, 235, 235);
    --box-shadow-dark:  0 3px 20px rgba(0, 0, 0, 0.2);


    //  --primary-bg-orange: rgb(218, 136, 15);
    //  --secondary-bg-orange:rgba(255, 170, 11, 0.541);
    //  --txt-color-orange:#000000;
    //  --box-shadow-orange: -1px 1px 5px -1px #95afa533;

    
    --primary-purple: #79018C;
    --secondary-purple:#9A0680;
   
    --primary-green: #019267;
    --secondary-green:#00C897;
   
     --primary-red: rgb(245, 37, 37);
    --secondary-red:rgb(248, 74, 74);

    --primary-orange: orange;
    --secondary-orange: rgb(253, 194, 85);
    
    --primary-blue:#349eff;
    --secondary-blue:#62b4ff;

     --primary-dark:#333;
    --secondary-dark: #3e3e3e;

}

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color:unset;
  &:hover{
    color: var(--primary-color);
  }
}
button{
  cursor: pointer;
  border: none;
  outline: none;
  color: var(--txt-color);
}

li{
  text-decoration: none;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
 .app{
  color:var(--txt-color);

  .app-content{
  background-color: var(--secondary-bg);
  min-height: 100vh;
  }
 }
.page-header{
  margin:1rem 0 2rem;
  padding:0 2rem;
}
.card{
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  margin-bottom: 1.5rem;
  padding:1.5rem 1rem;
  background-color: var(--primary-bg);
}
.card-header{
  margin-bottom: 1.5rem;
}

//theme
.light-background{
  background-color: var(--primary-bg-light);
  color:rgb(17, 17, 17);
}
.dark-background{
  background-color: var(--primary-bg-dark);
  color:rgb(252, 250, 250);
}
.orange-background{
  background-color: var(--primary-bg-orange);
  color:rgb(17, 17, 17);

}
.purple-color{
  background-color: var(--primary-purple);
  color: var(--txt-white);
}
.red-color{
  background-color: var(--primary-red);
  color: var(--txt-white);
}
.green-color{
  background-color: var(--primary-green);
  color: var(--txt-white);
}
.orange-color{
  background-color: var(--primary-orange);
  color: var(--txt-white);
}
.blue-color{
  background-color: var(--primary-blue);
  color: var(--txt-white);
}


@import "./partials.scss/sidebar";
@import "./partials.scss/topnav";
@import "./partials.scss/thememenu";
@import './pages/dashboard';
@import './pages/customers';
  @import './partials.scss/theme.scss';
  @import "./partials.scss/table";
  @import "./partials.scss/sale-status";


  @media screen and (min-width: 768px){
    .app{
      display: flex;
     }
     .topnav{
      padding:2rem 4rem;
      .sidebar-menu{
        display: none
      }
    }
     .app-content{
      flex:1;
     }
     .sidebar{
      position: unset;
      &-close{
          display: none;
      }
      &-link{
          display: unset;
          span{
            display: none;
          }}
  }
  }

  @media screen and (min-width: 1022px) {
   
    
    
      .sidebar{
        &-close{
            display: none;
        }
        &-link{
            display: unset;
            span{
              display: block;
            }}
    }
      section{
        padding:1rem 2rem;
      }
    }
    
 